body{
    color: white;
}

@media only screen and (min-width: 500px) {
    .MediaQuery-mobile{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .MediaQuery-desktop{
        display: none;
    }
}